* {
   margin: 0;
}
.App {
   position: relative;
   background-color: #111;
   user-select: none;
   z-index: 0;
   width: 100%;
}

/* SCROLL BAR DESIGN */
::-webkit-scrollbar {
   width: 0.5rem;
   height: 1.75rem;
}
::-webkit-scrollbar-thumb {
   background: #454545;
}
::-webkit-scrollbar-track {
   background: #181818;
}
