* {
	margin: 0;
}
.App {
	background-color: #111;
	z-index: -1;
}

/* SCROLL BAR DESIGN */
::-webkit-scrollbar {
	width: 0.5rem;
	height: 1.75rem;
}
::-webkit-scrollbar-thumb {
	background: #454545;
}
::-webkit-scrollbar-track {
	background: #181818;
}
