//****** ROW *******//
.row {
	position: relative;
	z-index: 0;
	color: white;
}
.row_header {
	padding: 10px 0 0 55px;
}
.row_posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 30px 0 30px 55px;
	&:hover {
		.poster {
			transform: translateX(-25%);
		}
		.large_poster {
			transform: translateX(-10%);
		}
	}
	&::-webkit-scrollbar {
		display: none;
	}
}

//****** POSTER *******//
.poster {
	position: relative;
	object-fit: contain;
	flex: 0 0 15%;
	width: 100%;
	max-height: 125px;
	padding: 0 2px;
	transition: transform 300ms;
	transition-delay: 0ms;
	z-index: 1;
	&:hover {
		cursor: pointer;
		transform: scale(1.5) !important;
		~ {
			.poster {
				transform: translateX(25%);
			}
			.large_poster {
				transform: translateX(10%);
			}
		}
	}
}
.large_poster {
	max-height: 330px;
	&:hover {
		transform: scale(1.2) !important;
	}
}
.poster_info {
	display: flex;

	.poster_videos {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
	}
}
