//****** ROW *******//
.row {
	position: relative;
	z-index: 1;
	color: white;
	max-width: 100%;
	width: 100%;
}
.row_header {
	padding: 10px 0 0 55px;
}
.row_posters {
	display: flex;
	outline: none;
	flex-direction: row;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 30px 0px 30px 55px;
	z-index: 2;
	scroll-behavior: smooth;

	&:hover {
		.poster {
			transform: translateX(-25%);
			&--large {
				transform: translateX(-10%);
			}
		}
	}

	&::-webkit-scrollbar {
		display: none;
	}
	//****** POSTER *******//
	.poster {
		display: flex;
		flex: 0 0 19%;
		width: 100%;
		max-height: 125px;
		padding: 0 2px;
		transition: transform 500ms ease-out;
		transition-delay: 100ms;
		z-index: 3;

		&:hover {
			cursor: pointer;
			transform: scale(1.5) !important;
			z-index: 4;
			opacity: 0.8;
			& ~ .poster {
				transform: translateX(25%);
			}
			& span:hover::before {
				color: rgb(190, 20, 20);
				transition: 200ms;
			}
			& span::before {
				content: '\f078';
				font-family: 'Font Awesome 5 Free';
				font-size: 20px;
				font-weight: 900;
				width: 100%;
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				text-align: center;
				color: white;
				text-decoration: none;
			}
		}
		&--large {
			max-height: 330px;
			&:hover {
				transform: scale(1.2) !important;
				& ~ .poster--large {
					transform: translateX(10%);
				}
			}
		}
		> img {
			width: 100%;
		}
		// &.Active {
		// 	display: flex;
		// 	transform: translate3d(0px, 0px, 0px);
		// }
		// &.inActive {
		// 	display: none;
		// 	transform: translate3d(0px, 0px, 0px);
		// }
	}
}
